:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* logo */

.logo {
  padding-top: 25px;
  padding-bottom: 24px;

  color: #000000;
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.text-web {
  color: var(--accent-color);
}

/* Heder */

.navigation {
  display: flex;
  align-items: center;
}

.heder {
  background-color: #ffffff;

  padding-top: 24px;
  padding-bottom: 25px;
}

.heder-container {
  display: flex;
  align-items: center;
}

.heder-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}

.heder-contacts {
  margin-left: auto;
}

.heder-nav-contacts + .heder-nav-contacts {
  margin-left: 50px;
}

.heder-nav {
  display: flex;
  margin-left: 93px;
  margin-right: ;
}

.heder-nav-item + .heder-nav-item {
  margin-left: 50px;
}

.heder-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.heder-nav .link:hover,
.heder-nav .link:focus {
  color: var(--accent-color);
}

.heder-nav .link.current {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;

  text-align: center;
  padding-top: 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  margin-bottom: 30px;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-container {
  display: flex;
  flex-wrap: 270px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.benefits-title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
  width: 270px;
}

.benefits-item {
  width: 270px;
}

.benefits-item-text :nth-child(4n) {
  margin-right: 0;
}

.benefits-item-text {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: underline;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* Class */

.class-list {
  display: flex;
  justify-content: space-between;
}

.class-img + .class-img {
  margin-left: 30px;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-item {
  width: calc(100% / 4 -30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-item-content {
  padding-top: 30px;
}

.team-caption {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  min-width: 73px;
  padding-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;

  cursor: pointer;
}
.button.primery {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  margin-bottom: 200px;
}

.button.potfolio:hover,
.button.potfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Portfolio */

.portfolio-container-button {
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-button {
  display: flex;

  margin-bottom: 34px;
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.portfolio-list :nth-child(3n) {
  margin-right: 0;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-item: last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-img {
  margin-bottom: 20px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-caption {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Footer */

.footer-logo {
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}
.footer-text-web {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.footer-link-maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
